<app-head title="Games Configs" link="/games/configs" [subtitle]="id"></app-head>

<div class="detail-holder row d-flex align-items-center justify-content-center" *ngIf="gameConfig">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
    <app-card>

      <div class="data-holder w-100 d-flex flex-column align-items-start justify-content-start">

        <app-display-value [label]="'Game'" [value]="gameConfig.game"></app-display-value>

        <app-display-value [label]="'Currency'" [value]="gameConfig.currency"></app-display-value>

        <app-display-value [label]="'Lobby URL'" [value]="gameConfig.lobby_url"></app-display-value>

        <app-display-value [label]="'Min Bet'" [value]="gameConfig.min_bet"></app-display-value>

        <app-display-value [label]="'Max Bet'" [value]="gameConfig.max_bet"></app-display-value>

        <span class="label" *ngIf="customConfigs.length > 0">Custom Config</span>
        <div class="data-value w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="customConfigs.length > 0">

          <div class="w-100 d-flex align-items-center justify-content-center">
            <app-custom-config [key]="'key'" [value]="'value'" [isLabel]="true"></app-custom-config>
          </div>

          <div class="w-100 d-flex align-items-center justify-content-center" *ngFor="let config of customConfigs; let i = index">
            <app-custom-config [index]="i" [key]="config['key']" [value]="config['value']"></app-custom-config>
          </div>

        </div>

      </div>

      <div class="buttons-holder w-100 d-flex align-items-center justify-content-center">
        <app-form-button [primary]="true" [value]="'Edit'" (onClick)="openEditGameConfig(editGameConfig)"></app-form-button>
        <app-form-button [value]="'Delete'" (onClick)="openEditGameConfig(deleteGameConfig)"></app-form-button>
      </div>

    </app-card>
  </div>
</div>


<ng-template #editGameConfig let-c="close" let-d="dismiss">
  <div class="edit-modal modal-header">
    <h4 class="modal-title">Edit</h4>
  </div>
  <div class="edit-modal modal-body">

    <app-config-game-interaction *ngIf="gameConfig" [gameConfig]="gameConfig" (onSubmit)="onEdit($event, c)" (onCancel)="d()"></app-config-game-interaction>

  </div>
</ng-template>

<ng-template #deleteGameConfig let-c="close" let-d="dismiss">
  <div class="delete-modal modal-header">
    <h4 class="modal-title">Delete Confirmation</h4>
  </div>
  <div class="delete-modal modal-body d-flex flex-column align-items-start justify-content center">
    <span class="game-config-text">Are you sure you want to delete config of this game?</span>

    <div class="w-100 d-flex align-items-center justify-content-center">
      <span class="game-config-text">{{ gameConfig.game }}</span>
    </div>

    <div class="alert alert-warning" role="alert">
      <span style="font-weight: bold">Warning!</span> This cannot be undone.
    </div>

    <div class="buttons-holder w-100 d-flex align-items-center justify-content-center">
      <app-form-button [value]="'Yes'" (onClick)="onDelete(c)"></app-form-button>
      <app-form-button [primary]="true" [value]="'No'" (onClick)="d('Cross click')"></app-form-button>
    </div>
  </div>
</ng-template>
