@import "../../shared/styles/variables";
@import "../../shared/styles/modal-styles";
@import "../../shared/styles/common";

.detail-holder {
  .buttons-holder {
    app-form-button {
      margin: 0 !important;
      margin-left: 5px !important;
    }
  }

  .buttons-next-holder {
    margin-top: 10px;
  }
}

.list-entities-holder.row.table-view {
  margin: 0;

  app-card {
    outline: none;
    width: 100%;
    padding: 0 20px;
  }

  .list-entity {
    cursor: pointer;
    padding: 20px;

    &.dispointer {
      cursor: auto;
      border: none !important;
    }

    &.no-pointer {
      border: none !important;
      padding: 0 20px 10px 20px !important;
      cursor: auto;
    }

    //&:hover {
    //  padding: 19px;
    //  border: 1px solid $light-white;
    //}
  }
}
