<app-head title="Games">

  <app-form-button [value]="'Add Game'" (onClick)="openCreateGame(createGame)"></app-form-button>

</app-head>

<div class="list-entities-holder row">
  <div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let game of games">
    <app-card [routerLink]="['game', game.id]">
      <!--<span class="label">Email:</span>-->
      <span appTextEllipsis>{{ game.title }}</span>
    </app-card>
  </div>
</div>


<ng-template #createGame let-c="close" let-d="dismiss">
  <div class="create-modal modal-header">
    <h4 class="modal-title">Create Game</h4>
  </div>
  <div class="create-modal modal-body">

    <app-game-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-game-interaction>

  </div>
</ng-template>
