@import "../../styles/variables";

.head {
  padding: 15px 20px;
  margin: 20px;
  margin-bottom: 10px;
  background: $extra-dark-grey;
  box-shadow: 0 0 5px 0  $extra-dark-black;

  .head-titles {
    min-height: 40px;

    img {
      height: 20px;
    }

    .with-pointer {
      cursor: pointer;
      outline: none;
    }
  }

  .head-text {
    font-weight: 400;
    font-size: 20px;
  }
}
