<div class="form-group">
  <label [for]="label" *ngIf="label">{{ label }}</label>

  <input  class="form-control" *ngIf="input"
          [id]="label || 'field_id'" [placeholder]="placeholder" [type]="type" [formControl]="control">

  <textarea class="form-control" rows="10" *ngIf="textarea"
            [id]="label || 'field_id'" [placeholder]="placeholder" [formControl]="control"></textarea>

  <select class="form-control" *ngIf="select && !multiple"
          [id]="label || 'field_id'" [formControl]="control">
    <option value="" selected disabled>{{ placeholder }}</option>
    <option [value]="option.value" *ngFor="let option of options">{{ option.name }}</option>
  </select>

  <ss-multiselect-dropdown [options]="options" [settings]="settings" *ngIf="select && multiple"
                           [formControl]="control"></ss-multiselect-dropdown>

</div>
