<app-head title="Games Configs">

  <app-form-button [value]="'Add Game Config'" (onClick)="openCreateGameConfig(createGameConfig)"></app-form-button>

</app-head>

<div class="list-entities-holder row">
  <div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let gameConfig of gameConfigs">
    <app-card [routerLink]="[gameConfig.id]">
      <!--<span class="label">Email:</span>-->
      <span appTextEllipsis>{{ gameConfig.game }}</span>
    </app-card>
  </div>
</div>


<ng-template #createGameConfig let-c="close" let-d="dismiss">
  <div class="create-modal modal-header">
    <h4 class="modal-title">Create Game Config</h4>
  </div>
  <div class="create-modal modal-body">

    <app-config-game-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-config-game-interaction>

  </div>
</ng-template>
