<app-head title="Games Configs">
  <button class="btn" (click)="openCreateGameConfig(createGameConfig)">Add Game Config</button>
</app-head>

<div class="list-game-configs-holder row">
  <div class="list-game-config col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let gameConfig of gameConfigs">
    <app-card [routerLink]="['/games/config', gameConfig.id]">
      <!--<span class="label">Email:</span>-->
      <span appTextEllipsis>{{ gameConfig.game }}</span>
    </app-card>
  </div>
</div>


<ng-template #createGameConfig let-c="close" let-d="dismiss">
  <div class="create-game-config modal-header">
    <h4 class="modal-title">Create Game Config</h4>
  </div>
  <div class="create-game-config modal-body">

    <app-config-game-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-config-game-interaction>

  </div>
</ng-template>
