<app-head title="Partners">

  <app-form-button [value]="'Add Partner'" (onClick)="openCreatePartner(createPartner)"></app-form-button>

</app-head>

<div class="list-entities-holder d-flex flex-column align-items-center row table-view">
  <app-card>
    <div class="list-entity no-pointer d-flex col-xs-12">

      <!--<span class="label">Email:</span>-->
      <span class="col-xs-3" appTextEllipsis>ID</span>
      <span class="col-xs-3" appTextEllipsis>Email</span>
      <span class="col-xs-3" appTextEllipsis>Sites</span>
    </div>

    <div class="list-entity d-flex col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
         *ngFor="let partner of partners" [routerLink]="['partner', partner.id]">

        <!--<span class="label">Email:</span>-->
        <span class="col-xs-3" appTextEllipsis>{{ partner.id }}</span>
        <span class="col-xs-3" appTextEllipsis>{{ partner.email }}</span>
        <span class="col-xs-3" appTextEllipsis>{{ partner.sites.join(', ') }}</span>
    </div>
  </app-card>
</div>


<ng-template #createPartner let-c="close" let-d="dismiss">
  <div class="create-modal modal-header">
    <h4 class="modal-title">Create Partner</h4>
  </div>
  <div class="create-modal modal-body">

    <app-partner-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-partner-interaction>

  </div>
</ng-template>
