<app-head title="Partners">
  <button class="btn" (click)="openCreatePartner(createPartner)">Add Partner</button>
</app-head>

<div class="list-partners-holder row">
  <div class="list-partner col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
    <app-card [routerLink]="['partner', i]">
      <!--<span class="label">Email:</span>-->
      <span>megaemail{{ i }}@gmail.com</span>
    </app-card>
  </div>
</div>


<ng-template #createPartner let-c="close" let-d="dismiss">
  <div class="create-partner modal-header">
    <h4 class="modal-title">Create User</h4>
  </div>
  <div class="create-partner modal-body">

    <app-partner-interaction [creation]="true" (onSubmit)="c($event)" (onCancel)="d()"></app-partner-interaction>

  </div>
</ng-template>
