<app-head title="Partner Games">
</app-head>

<div class="list-entities-holder row">
  <div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let partner of partners">
    <app-card [routerLink]="[partner.id]">
      <span appTextEllipsis>{{ partner.email }}</span>
    </app-card>
  </div>

  <div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let game of partnersGame">
    <app-card [routerLink]="['game', game.game_id]">
      <span appTextEllipsis>{{ game.title }}</span>
    </app-card>
  </div>
</div>
