<app-head title="Partner Games">

  <app-form-button *ngIf="permissions && permissions !== 'Admin'" [value]="'Add Game Config'" (onClick)="openCreateGameConfig(createGameConfig)"></app-form-button>

</app-head>


<div class="list-entities-holder d-flex flex-column align-items-center row table-view" *ngIf="partners.length > 0">
  <app-card>
    <div class="list-entity no-pointer d-flex col-xs-12">
      <span class="col-xs-5" appTextEllipsis>Email</span>
      <span class="col-xs-5" appTextEllipsis>Sites</span>
    </div>

    <div class="list-entity d-flex col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
         *ngFor="let partner of partners" [routerLink]="[partner.id]">
      <span class="col-xs-5" appTextEllipsis>{{ partner.email }}</span>
      <span class="col-xs-5" appTextEllipsis>{{ partner.sites.join(', ') }}</span>
    </div>
  </app-card>
</div>


<div class="list-entities-holder row" *ngIf="partnersGame.length > 0">
  <div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
       *ngFor="let game of partnersGame">
    <app-card [routerLink]="['game', game.game_id]">
      <span appTextEllipsis *ngIf="game.config && game.config.config_id">{{ game.title }} - {{ game.config.config_id }}</span>
      <span appTextEllipsis *ngIf="!game.config || game.config && !game.config.config_id">{{ game.title }}</span>
    </app-card>
  </div>
</div>

<!--<div class="list-entities-holder row" *ngIf="partners.length > 0">-->
  <!--<div class="list-entity col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"-->
       <!--*ngFor="let partner of partners">-->
    <!--<app-card [routerLink]="[partner.id]">-->
      <!--<span appTextEllipsis>{{ partner.email }}</span>-->
    <!--</app-card>-->
  <!--</div>-->
<!--</div>-->

<ng-template #createGameConfig let-c="close" let-d="dismiss">
  <div class="create-modal modal-header">
    <h4 class="modal-title">Create Game Config</h4>
  </div>
  <div class="create-modal modal-body">

    <app-config-game-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-config-game-interaction>

  </div>
</ng-template>
