@import "../../shared/styles/variables";
@import "../../shared/styles/modal-styles";
@import "../../shared/styles/common";

.filters-holder {
  margin-bottom: 10px;

  .block {
    margin: 1rem 1rem 0 1rem;
  }

  .app-select {
    margin: 1rem;
  }
}

.list-entities-holder.row.table-view {
  margin: 0;

  app-card {
    outline: none;
    width: 100%;
    padding: 0 20px;
  }

  .list-entity {
    cursor: pointer;
    padding: 20px;

    &.no-pointer {
      border: none !important;
      padding: 0 20px 10px 20px !important;
      cursor: auto;
    }

    &:hover {
      padding: 19px;
      border: 1px solid $light-white;
    }
  }
}

.paginator-holder {
  margin: 10px 0;

  .page-label {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $dark-grey;
    }

    &.inactive {
      cursor: not-allowed;
      background-color: $shadows-grey;
    }
  }

}
