@import "./variables";

.detail-holder {
  width: 100%;
  margin: 0;
  padding: 20px 5px;

  .data-holder {
    .label {
      margin-bottom: .5rem;
    }

    app-display-value {
      width: 100%;
    }

    .data-value {
      padding: 5px 10px;
      background-color: $dark-grey;
      margin-bottom: 1rem;

      app-custom-config {
        width: 100%;
      }
    }
  }

  .buttons-holder {
    app-form-button:first-of-type {
      margin-right: 10px;
    }
  }
}

.list-entities-holder.row {
  margin: 0;

  .list-entity {
    padding: 20px;

    app-card {
      cursor: pointer;
      outline: none;

      &.no-pointer {
        cursor: auto;
      }
    }
  }
}
