
$extra-dark-grey: #2b2a2a;
$dark-grey: #303030;
$middle-grey: #393939;

$line-grey: #323232;
$shadows-grey: #2b2b2b;
$border-grey: #838383;
$border-blue: #03a9f4;

$deep-blue: #03a9f4;
$light-white: #ffffff;
