<app-head title="Partners" link="/partners" [subtitle]="id"></app-head>

<div class="detail-holder row d-flex align-items-center justify-content-center" *ngIf="partner">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
    <app-card>

      <div class="data-holder w-100 d-flex flex-column align-items-start justify-content-start">

        <app-display-value [label]="'Email'" [value]="partner.email"></app-display-value>

        <app-display-value [label]="'Token'" [value]="partner.token"></app-display-value>

        <app-display-value [label]="'Available currencies'" [value]="partner.available_currencies" [multiple]="true"></app-display-value>

        <app-display-value [label]="'Sites'" [value]="partner.sites" [multiple]="true"></app-display-value>

      </div>

      <div class="buttons-holder w-100 d-flex align-items-center justify-content-center">
        <app-form-button [primary]="true" [value]="'Edit'" (onClick)="openEditPartner(editPartner)"></app-form-button>
        <app-form-button [value]="'Delete'" (onClick)="openEditPartner(deletePartner)"></app-form-button>
      </div>

    </app-card>
  </div>
</div>


<ng-template #editPartner let-c="close" let-d="dismiss">
  <div class="edit-modal modal-header">
    <h4 class="modal-title">Edit</h4>
  </div>
  <div class="edit-modal modal-body">

    <app-partner-interaction *ngIf="partner" [partner]="partner" (onSubmit)="onEdit($event, c)" (onCancel)="d()"></app-partner-interaction>

  </div>
</ng-template>

<ng-template #deletePartner let-c="close" let-d="dismiss">
  <div class="delete-modal modal-header">
    <h4 class="modal-title">Delete Confirmation</h4>
  </div>
  <div class="delete-modal modal-body d-flex flex-column align-items-start justify-content center">
    <span class="partner-text">Are you sure you want to delete this partner?</span>

    <div class="w-100 d-flex align-items-center justify-content-center">
      <span class="partner-text-email">{{ partner.email }}</span>
    </div>

    <div class="alert alert-warning" role="alert">
      <span style="font-weight: bold">Warning!</span> This cannot be undone.
    </div>

    <div class="buttons-holder w-100 d-flex align-items-center justify-content-center">
      <app-form-button [value]="'Yes'" (onClick)="onDelete(c)"></app-form-button>
      <app-form-button [primary]="true" [value]="'No'" (onClick)="d('Cross click')"></app-form-button>
    </div>
  </div>
</ng-template>
