<app-head title="Partners Wallet" link="/wallets/partners" [subtitle]="partnerWallet.partner_id"></app-head>

<div class="detail-holder row d-flex align-items-center justify-content-center" *ngIf="partnerWallet">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
    <app-card>

      <div class="data-holder w-100 d-flex flex-column align-items-start justify-content-start">

        <app-display-value [label]="'Partner ID'" [value]="partnerWallet.partner_id"></app-display-value>

        <app-display-value [label]="'Available Wallets'" [value]="partnerWallet.available_wallets" [multiple]="true"></app-display-value>

        <span class="label" *ngIf="customConfigs.length > 0">Wallets</span>
        <div class="data-value w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="customConfigs.length > 0">

          <div class="w-100 d-flex align-items-center justify-content-center">
            <app-custom-config [key]="'key'" [value]="'value'" [isLabel]="true"></app-custom-config>
          </div>

          <div class="w-100 d-flex align-items-center justify-content-center" *ngFor="let config of customConfigs; let i = index">
            <app-custom-config [index]="i" [key]="config['key']" [value]="config['value']"></app-custom-config>
          </div>

        </div>
      </div>

      <!--<div class="buttons-holder w-100 d-flex align-items-center justify-content-center">-->
        <!--<app-form-button [primary]="true" [value]="'Edit'" (onClick)="openEditPartnerWallet(editParnterWallet)"></app-form-button>-->
        <!--&lt;!&ndash;<app-form-button [value]="'Delete'" (onClick)="openEditWallet(deleteWallet)"></app-form-button>&ndash;&gt;-->
      <!--</div>-->

    </app-card>
  </div>
</div>


<!--<ng-template #editParnterWallet let-c="close" let-d="dismiss">-->
  <!--<div class="edit-modal modal-header">-->
    <!--<h4 class="modal-title">Edit</h4>-->
  <!--</div>-->
  <!--<div class="edit-modal modal-body">-->

    <!--<app-partner-wallet-interaction *ngIf="partnerWallet" [partnerWallet]="partnerWallet" (onSubmit)="onEdit($event, c)" (onCancel)="d()"></app-partner-wallet-interaction>-->

  <!--</div>-->
<!--</ng-template>-->
