<app-head title="Wallets">

  <app-form-button [value]="'Add Wallet'" (onClick)="openCreateWallet(createWallet)"></app-form-button>

</app-head>

<div class="list-entities-holder d-flex flex-column align-items-center row table-view">
  <app-card>
    <div class="list-entity no-pointer d-flex col-xs-12">

      <!--<span class="label">Email:</span>-->
      <span class="col-xs-3" appTextEllipsis>ID</span>
      <span class="col-xs-3" appTextEllipsis>Type</span>
      <span class="col-xs-3" appTextEllipsis>URL</span>
    </div>

    <div class="list-entity d-flex col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
         *ngFor="let wallet of wallets" [routerLink]="['wallet', wallet.id]">

      <!--<span class="label">Email:</span>-->
      <span class="col-xs-3" appTextEllipsis>{{ wallet.id }}</span>
      <span class="col-xs-3" appTextEllipsis>{{ wallet.wallet_type }}</span>
      <span class="col-xs-3" appTextEllipsis>{{ wallet.wallet_url }}</span>
    </div>
  </app-card>
</div>


<ng-template #createWallet let-c="close" let-d="dismiss">
  <div class="create-modal modal-header">
    <h4 class="modal-title">Create Wallet</h4>
  </div>
  <div class="create-modal modal-body">

    <app-wallet-interaction [creation]="true" (onSubmit)="onCreate($event, c)" (onCancel)="d()"></app-wallet-interaction>

  </div>
</ng-template>
